* {
    box-sizing: border-box;
}

/*Mettre l'image au milieu*/
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

main {
    border-radius: 8px 0px 0px 8px;
    background-color: #1B1937;
    width: 1110px;
    display: flex;
}


.card-title {
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: white;
    margin-right: 72px;
    margin-top: 71px;
    margin-left: 72px;
    margin-bottom: 25px;
}

.card-description {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
    margin-left: 72px;
    margin-right: 72px; 
}

.p-title {
    color: blueviolet;
}

img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    background-color: #AB5CDB;
}

.company-value {
    color: white;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin-right: 72px;
    margin-top: 71px;
    margin-left: 72px;
    margin-bottom: 25px;
}

.template-value {
    color: white;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin-right: 72px;
    margin-top: 71px;
    margin-left: 72px;
    margin-bottom: 25px;
}

.queries-value {
    color: white;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin-right: 72px;
    margin-top: 71px;
    margin-left: 72px;
    margin-bottom: 25px;
}

.card-value {
    display: flex;
}

.value-name {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: grey;
}